<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include ('partials/head.html') %>


</head>

<body>
    <%- include ('partials/navigation.html') %>

    <div class="container">

        <header class="row">
            <div class="col -lg-12 text-center">
                <img src="/img/logocompu.png" class='animate__bounceIn' alt="Logo AC">
            </div>
        </header>

        <!--SECCION UNO-->
        <div class="container-fluid" id="about">
            <div class="row bg-dark text-white p-5 text-center">
                <div class="col-sm-6">
                    <i class="fas fa-code-branch fa-8x "></i>
                    <i class="fas fa-code fa-6x "></i>
                    <i class="fas fa-code-branch  fa-4x "></i>
                </div>
                <div class="col-sm-6">
<h3>Anthony Curu Código </h3>
<p>Solicita aplicaciones web con la tecnologia de calidad (Node.Js, Express, PHP, JavaScript, CSS3 y HTML5) </p>
<p>Encuentra como mejorar continuamente mientante nuestras propuestas entrategicas </p>
<p>All the services offered by AC Code are available in english language.</p>                  
                </div>
            </div>

        </div>

    </div>



</body>





<%- include ('partials/footer.html') %>

</html>